project:
  type: website
  resources: 
    - resume.pdf

website:
  title: "personal website"
  navbar:
    right:
      - href: index.qmd
        text: Home
      - href: projects.qmd
        text: Projects
  page-footer:
    right: "&copy; 2025, Prisha Narasimhan"

format:
  html:
    theme: cosmo
    css: styles.css
    toc: true
    
execute: 
  freeze: auto
  
  




